* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__logo {
  width: 100px;
}

nav {
  background-color: rgb(229, 253, 245);
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}

main {
  min-height: 70vh;
}

.footer {
  width: 100%;
  height: 15%;
  background-color: rgb(229, 253, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Monserrat", sans-serif;
  font-size: 1rem;
  padding: 2vw;
}
.footer__titulo {
  font-size: 1rem;
  text-align: center;
  color: rgb(129, 129, 129);
}
.footer__seccion {
  text-align: center;
}

.iconos {
  width: 40px;
  margin: 5px;
}
.iconos:hover {
  transform: scale(1.5);
}

.formulario, .hero {
  width: 100%;
  background: #000 url(../img/neneconjuguete.jpg) center/cover no-repeat local;
  text-align: center;
  color: white;
  font-family: "Monserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

fieldset {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(128, 128, 128, 0.615) solid;
  padding: 5px 25px;
  margin-top: 20px;
  border-radius: 15px;
}

@media (min-width: 1200px) {
  .overflow-scroll {
    flex-wrap: wrap !important;
    overflow: visible !important;
  }
}

.carousel__texto {
  background-color: rgba(210, 105, 30, 0.259);
  border-radius: 10px;
  padding: 10px 30px;
}

.carrito {
  border: rgb(165, 224, 197) 2px solid;
  border-radius: 20px;
  background-color: rgb(165, 224, 197);
  color: white;
  font-family: "Monserrat", sans-serif;
  padding: 8px 10px;
}
.carrito:hover {
  color: rgb(165, 224, 197);
  background-color: transparent;
  border-color: rgb(165, 224, 197);
}

.producto {
  width: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Monserrat", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.producto__img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: 20px;
}
.producto__precio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Monserrat", sans-serif;
  width: 100%;
  padding: 15px;
}

.espaciado {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overflow-scroll {
  flex-wrap: nowrap;
}

.promo__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Monserrat", sans-serif;
  background-color: rgb(165, 224, 197);
  width: 100%;
  color: white;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.hero {
  background: #000 url(../img/carrousel3.jpeg) center/cover no-repeat local;
  flex-direction: column;
  padding: 20px;
}
@media (min-width: 768px) {
  .hero {
    padding: 70px 100px;
    height: 70vh;
  }
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: center;
  height: 85%;
}

.articuloexterno {
  width: 90%;
  height: 35vh;
  border: solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
}
.articuloexterno__title {
  font-size: 1rem;
  padding: 15px;
}
.articuloexterno__text {
  font-size: 0.8rem;
  padding: 7px;
  font-style: italic;
}

.videoespacio {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 0 30px 0;
}
.videoespacio__video {
  width: 300px;
}
.videoespacio__titulo {
  font-size: 1rem;
  margin: 15px;
}

.plustext {
  text-align: center;
  font-style: italic;
  font-size: large;
  margin-bottom: 40px;
}

/*# sourceMappingURL=styles.css.map */
