* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header__logo {
  width: 100px;
}

nav {
  background: linear-gradient(rgb(165, 224, 197) 0% 20%, rgba(254, 192, 192, 0.726));
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1rem;
}

main {
  min-height: 70vh;
}

.footer {
  width: 100%;
  height: 15%;
  background: linear-gradient(rgba(254, 192, 192, 0.726) 0% 4%, rgb(165, 224, 197));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Monserrat", sans-serif;
  font-size: 1rem;
  padding: 2vw;
}

.footer__titulo {
  font-size: 1rem;
  text-align: center;
}

.footer__seccion {
  text-align: center;
}

.iconos {
  width: 40px;
  margin: 5px;
}

.iconos:hover {
  transform: scale(1.5);
}

.formulario {
  width: 100%;
  background: #000 url(../img/neneconjuguete.jpg) center/cover no-repeat local;
  text-align: center;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

fieldset {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(128, 128, 128, 0.615) solid;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 20px;
  border-radius: 15px;
}

.titulomobile {
  text-align: center;
  background-color: rgb(165, 224, 197);
  color: white;
  margin: 2px;
  padding: 5px;
}

.espaciado {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overflow-scroll {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.promo__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 224, 197);
  width: 100%;
  height: 8vh;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px;
}

@media (min-width: 1200px) {
  .overflow-scroll {
    flex-wrap: wrap;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .titulomobile {
    display: none;
  }
}
.carousel__titulo {
  background-color: rgba(210, 105, 30, 0.288);
  border-radius: 10px;
}

.carousel__texto {
  background-color: rgba(210, 105, 30, 0.288);
  border-radius: 10px;
}

.carrito {
  border: rgb(165, 224, 197) 2px solid;
  border-radius: 20px;
  background-color: rgb(165, 224, 197);
  color: white;
  padding: 8px 10px;
}

.producto {
  width: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.producto__img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: 20px;
}

.producto__precio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: center;
  height: 85%;
}

.articuloexterno {
  width: 90%;
  height: 35vh;
  border: solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: hidden;
}

.articuloexterno__title {
  font-size: 1rem;
  padding: 15px;
}

.articuloexterno__text {
  font-size: 0.8rem;
  padding: 7px;
  font-style: italic;
}

.videoespacio {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.videoespacio__video {
  width: 200px;
}

.videoespacio__titulo {
  font-size: 1rem;
  margin: 15px;
}

.plustext {
  text-align: center;
  font-style: italic;
  font-size: large;
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
