.header__logo{
    width: 100px;
}

nav{
    background: linear-gradient(rgb(165, 224, 197) 0% 20%, rgba(254, 192, 192, 0.726));
    font-family: "Monserrat", sans-serif ;
    font-weight: 600;   
    text-align: center; 
    font-size: 1rem;
}


main{
    min-height: 70vh;
}