.header__logo{
    width: 100px;
}

nav{
    background-color: map-get($map: $colores, $key: cuatro);
    font-family: $tipo-principal;
    font-weight: 600;   
    text-align: center; 
    font-size: 1rem;
}


main{
    min-height: 70vh;
}