.carrito {
    border: map-get($map: $colores, $key: primario) 2px solid;
    border-radius: 20px;
  
    background-color: map-get($map: $colores, $key: primario);
    color: map-get($map: $colores, $key: secundario);
    font-family: $tipo-principal;
  
    padding: 8px 10px;

    &:hover{
        color: map-get($map: $colores, $key: primario);
        background-color: transparent;
        border-color:  map-get($map: $colores, $key: primario);
        
    }
}
