.producto{
    width: 15rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $tipo-principal;
    margin-top: 10px;
    margin-bottom: 10px;

    &__img{
        width: 200px;
        height: 200px;
        object-fit: contain;
        margin-left: 20px;
    }

    &__precio{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: $tipo-principal;
        width: 100%;
        padding: 15px;
    } 
    
}

